.tooltip {
    position: relative;
    bottom: 1350px;
}
.icon {
    position: relative;
    left: 400px;
}
.tooltip-content {
    padding: 5px;
    visibility: hidden;
}
.icon:hover + .tooltip-content {
    visibility: visible;
    color: white;
    background-color: black;
}